<h1><%= @char_class['name'] %></h1>
<ul>
  <li><b>Description:</b> <%= @char_class['description'] %></li>
  <li><b>Skills:</b></li>
  <ul>

    <% @class_skills.each_pair do |skill, details| %>
      <li>
        <a href="/skills/<%=skill%>"><%= details['name'] %></a>
        <p>Max Rank of <%= @char_class['skills'][skill] %></p>
      </li>
    <% end %>
  </ul>
</ul>
<p><%=@class_skills.to_s %></p>