<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<h1><%= @char_class['name'] %></h1>
<ul>
  <li><b>Description:</b> <%= @char_class['description'] %></li>
  <li><b>Skills:</b></li>
  <ul>

    <% @class_skills.each_pair do |skill, details| %>
      <li>
        <a href="/skills/<%= details['category'] %>/<%=skill%>"><%= details['name'] %> [MR <%= @char_class['skills'][skill] %>]</a>
      </li>
    <% end %>
  </ul>
</ul>
