<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<% if session[:crew].nil? || session[:crew].empty? %>
  <form action="/crew/new_trader"> 
    <button type ="submit">Create Crew</button>
  </form>
<% else %>
  <ul>
    <% session[:crew].each_pair do |name, trader_hash| %>
      <li>
        <a href='/crew/<%= name %>'><%= name %></a>
        <form action="/crew/<%= name %>/edit_skills" method="get">
          <input id="edit_skills" name="edit_skills" type="hidden" value="<%= name %>">
          <button type="submit">Edit Skills</button>
        </form>
        <form action="/crew/delete_trader" method="post">
          <input id="delete_name" name="delete_name" type="hidden" value="<%= name %>">
          <button type="submit">Delete Trader</button>
        </form>
      </li>
    <% end %>    
  </ul>
  <form action="/crew/new_trader"> 
    <button type ="submit">Add Trader</button>
  </form>
  <form action="/crew/save_crew" method="post"> 
    <button type ="submit">Save Crew</button>
  </form>
  <form action="/crew/download" method="post"> 
    <button type ="submit">Download Crew</button>
  </form>

<% end %>

<p><%= session[:crew].to_s %></p>
<br>

<p><%= session[:trader] %></p>