<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<h1>Name: <%= @trader['name'] %></h1>
<h3><b>Available Skills<b></b></h3>
<ul>
  <% @available_skills.each do |skill, details| %>
    <li>
      <%= details['name'] %> 
      <form action="/crew/new_trader/select_skills" method="post">
        <input type="hidden" id="skill_name" name="skill_name" value="<%= skill %>">
        <select name="skill_level" id="skill_level">
          <% if @trader['skills'][skill] %>
            <option selected ><%= @trader['skills'][skill] %></option>
          <% end %>
          <% (0..@class_skills[skill]).each do |level| %>
              <option><%= level %></option>
          <% end %>
        </select>
        <button type="submit">Set Skill</button>
      </form>
    </li>
  <% end %>
</ul>
<br>

<form action="/crew/new_trader/save_trader" method="post">
  <button type="submit">Save Trader</button>
</form>

<% if @temp_skill %>
  <p><%= @temp_skill %></p>
<% end %>


<!-- <p><%= @class_skills.to_s %></p>
<p><%= @trader['trader_class'].to_s %></p>
<p><%= @available_skills.to_s %></p>
-->
<p><%= @trader.to_s %></p>

<br>
<p><%= session[:crew].to_s %></p>
<br>

<p><%= session[:trader] %></p>
