<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<h1>Skills</h1>
<ul>
  <% @skills.each_pair do |category, category_skills| %>
    <li>
      <a href="skills/<%= category %>"><%= category.capitalize %></a>
      <ul>
        <% category_skills.each_pair do |skill, details| %>
          <li>
            <a href="skills/<%= category %>/<%= skill %>"><%= details['name'] %> </a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
