<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<h1><%=@skill_category.capitalize %></h1>
<ul>
  <% @category.each_pair do |skill, details| %>
    <li>
      <h3>
        <a href="/skills/<%= @skill_category %>/<%= skill %>">
          <img src="/icons/<%= details['image'] %>" >
        </a>
        <a href="/skills/<%= @skill_category %>/<%= skill %>"><%= details['name'] %></a>
      </h3>
      <ul>
        <% (1..3).each do |level| %>
          <% unless details[level].nil? %>
            <p><%=level%>: <%= details[level]%><br>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
